<nav class="nav">
    <div class="nav-first"  >
        <i class="fas fa-database" style="font-size:50px; margin-left: 50px; color: white;"></i>
        <div class="nav-txt"> DataBase Visualizer</div>
    </div>
    
    <div class="nav-second">
      <div (click)="signOut()" style="font-size: 30px; cursor: pointer;">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
    
</nav>


<div class="container">
    <div class="first-row">
        <div class="restore-btn">
          <div class="back" (click)="goBack()">
            <i class="fas fa-long-arrow-alt-left"></i>
          </div>
            <div class="Backup" (click)="backUp()">
                <p id="backup-txt">Backup</p>
            </div>
            <div class="restore" (click)="restore()">
                <p id="restore-txt">Restore</p>
            </div>
        </div>
        <div class="add-table" data-toggle="modal" data-target="#exampleModalCenter" >
            <i class="fas fa-plus" style="margin-top:9px; margin-left:-5px;"></i>
            <p id="table-txt">New Table</p>
        </div>
      
        
    </div>
    <div class="second-row">
        <table class="table table-striped">
            <thead >
              <tr id="head">
                <th scope="col">#</th>
                <th scope="col">Table Name</th>
                <th scope="col" style="width: 35%;">Rows</th>
                <th scope="col" style="width:20%">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let name of tablesInfo; index as i;">
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{name.TABLE_NAME}}</td>
                <td style="display: flex; flex-direction: row; ">{{name.count}}</td>
                <td ><button [routerLink]="['../tabledata', name.TABLE_NAME]" routerLinkActive="router-link-active">View Data</button>
                 
                <button (click)="deleteTable(name.TABLE_NAME)" class="action-btn">
                  <i class="fas fa-trash-alt"></i>
                </button>
                  
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>


    
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-div" id="modal-div" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Create New Table</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group">
            <label for="table-name" id="table-name-txt">Table Name</label>
            <input type="text" class="form-control" id="table-name" aria-describedby="emailHelp" placeholder="Enter Table Name">
          </div>
          
          <div class="mb-3">
            <label for="formTextFileSm" class="form-label">Upload CSV or Text File</label>
            <input class="form-control form-control-sm" id="formTextFileSm" type="file" (click)="changeFlagValue(1)">
          </div>

          <div class="mb-3 json-file">
            <label for="formJsonFileSm" class="form-label">Upload Json File</label>
            <input class="form-control form-control-sm" id="formJsonFileSm" type="file" (click)="changeFlagValue(2)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="submitModal()">Save changes</button>
      </div>
    </div>
  </div>
</div>