<nav class="nav">
    <div class="nav-first">
        <i class="fas fa-database" style="font-size:50px; margin-left: 50px; color: white;"></i>
        <div class="nav-txt"> DataBase Visualizer</div>
    </div>
    
    <div class="nav-second">
        <i class="fas fa-user"></i>
        <!-- <p>{{userName}}</p> -->
    </div>
    
</nav>


<div class="container">
    <div class="first-row">
        <div class="restore-btn">
            Table Name
        </div>
        <div class="add-table" data-toggle="modal" data-target="#exampleModalCenter" >
            <i class="fas fa-plus" style="margin-top:9px; margin-left:-5px;"></i>
            <p id="table-txt">Add Data</p>
        </div>
    
    </div>
    <div class="second-row">
        <table class="table table-striped">
            <thead>
              <tr id="head">
                <th scope="col">#</th>
                <th scope="col">Table Name</th>
                <th scope="col">Rows</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>


    
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-div" id="modal-div" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Import Data</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="mb-3">
            <label for="formTextFileSm" class="form-label">Upload CSV or Text File</label>
            <input class="form-control form-control-sm" id="formTextFileSm" type="file" (click)="changeFlagValue(1)" >
          </div>

          <div class="mb-3 json-file">
            <label for="formJsonFileSm" class="form-label">Upload Json File</label>
            <input class="form-control form-control-sm" id="formJsonFileSm" type="file" (click)="changeFlagValue(2)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" >Save changes</button>
      </div>
    </div>
  </div>
</div>